* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background: #313f3f;
   color: #f7f7f7;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background: #25292c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    width: 100%;
    position: fixed;
    box-shadow: 0 1px 10px black;
}

.logo h1 {
    font-size: 33px;
    font-family: 'Times New Roman', Times, serif;
    color: #f0f1f5;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1em;
}

.none {
    display: none;
}

nav ul li a {
    text-decoration: none;
    color: #f0f1f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;
    padding: 4px 10px;
    transition: all 250ms;
}

nav ul li a:hover {
    background: #f0f1f5;
    color: #25292c;
}

.hamburger {
    color: #f0f1f5;
    font-size: 23px;
    display: none;
}

.banner img {
    width: 100%;
    margin-top: -91px;
}

.profile img {
    width: 20%;
    border-radius: 100%;
    margin-left: 5%;
    margin-top: -8%;
    border: #25292c 3px solid;
}

.name, .job {
    margin-left: 5%;
    color: #f7f7f7;
    font-size: 2em;
}

.student, .location {
    display: flex;
}

.student i, .location i {
    color: #f0f1f5;
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 1px;
    font-size: 1.3em;
}

.student p, .location p {
    font-size: 1em;
    margin-top: 5px;
    margin-left: 0px;
}

.regarding {
    width: 43%;
    height: 100%;
    float: left;
    background: #172029;
    text-align: center;
    margin: 20px 2% 10px 5%;
    border: #4e575c 1px solid;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgb(0,0,0,.1);
}

.about {
    width: 90%;
    margin: 5%
}

#dots {
    display: none;
}
.read {
    display: none;
}

.skills {
    width: 43%;
    height: 100%;
    float: right;
    background: #172029;
    margin: 20px 5% 10px 2%;
    border: #4e575c 1px solid;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgb(0,0,0,.1);
}
 h5 {
    padding: 5px 20px;
    font-size: 1.2em;
 }

 .line-skills {
    width: 98%;
    height: 1px;
    background: #4e575c;
    margin: 0 1%;
 }

 .skill {
    display: flex;
    justify-content: space-evenly;
 }

 .html, .css, .js {
    width: 30%;
    background: #384343;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0,0,0,.1);
 }

 .html img, .css img, .js img {
    width: 50px;
    margin: 10px 0 0 10px;
 }

 .t-html, .t-css, .t-js{
    font-size: 0.9em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px 12px;
 }

 .level {
    width: 90%;
    background: #4e575c;
    border-radius: 5px;
    margin: 5px 5%;
    box-shadow: 0 0 10px rgb(0,0,0,.1);
    padding-bottom: 3px;
 }

 .tl {
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 }







@media screen and (max-width: 768px){
    nav {
        flex-wrap: wrap;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        margin: 5px;
    }

    .none {
        display: block;
    }

    .hidden {
        display: none;
    }

    nav ul li  {
        margin: auto;
    }

    .banner img {
        padding-top: 134px;
    }

    .hamburger {
        display: flex;
        align-items: center;
    }

    .name, .job, .student i, .location i {
        margin-left: 3%;
        font-size: 1em;
    }

    .student p, .location p {
        font-size: 0.8em;
    }

    .regarding {
        width: 92%;
        background: #172029;
        text-align: center;
        margin: 20px 4%;
        padding: 15px 0;
        border: #4e575c 1px solid;
        border-radius: 5px;
        box-shadow: 0 0 1rem rgb(0,0,0,.1);
    }

    .show {
        display: none;
    }

    .about {
        width: 90%;
        margin: 0 5%
    }

    .read {
        width: 90px;
        display: flex;
        font-size: 14px;
        padding: 5px;
        margin-top: 15px;
        margin-left: 10px;
        color: white;
        background-color: #40464a;
        border-radius: 3px;
        cursor: pointer;
    }

    .read:hover {
        background-color: #4f565a;
    }

    .skills {
        width: 92%;
        margin: 0 4%;
    }
}